# Core Scientific Libraries
numpy
pandas
matplotlib
seaborn
scipy

# Time Series & Econometrics
statsmodels
arch
ruptures

# Causal & Bayesian Modeling, ML
pyAgrum
networkx
scikit-learn

# Data Access
openassetpricing
yfinance
pandas-datareader

# Miscellaneous Utilities
tqdm
joblib
